<% session[:return_to] ||= request.referer %>

<!--
____error messages from validations______
-->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<!--
_______________________________________
-->

<h3>Sign In</h3>

<%= form_for(:user, url: sign_in_create_path) do |f| %>

	<%= f.label :email %>
    <%= f.email_field :email %>
<br>
	<%= f.label :password %>
    <%= f.password_field :password %>
<br>
	<%= f.label :remember_me do %>
     <input type="checkbox" name="user[remember_me]" value="1"> 
        <span>Remember me on this computer</span>
    <% end %>
<br>
<%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>
<p>New user? <%= link_to "Sign up now!", sign_up_new_path %></p>
