<!DOCTYPE html>
<html>
  <head>
    <title>InterruptPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Flash Messages(if any)-->
  	<% flash.each do |name, message| %>
  		<div class="<%= name %>"><%= message %></div>
  	<% end %>
  <!--End of flash-->	
    <%= yield %>
  </body>
</html>
