<!DOCTYPE html>
<html>
  <head>
    <title>InterruptPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   
    <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <!-- Custom style -->
  <%= stylesheet_link_tag "main.css" %>

  </head>

  <body>
  <!--Flash Messages(if any)-->
  	<% flash.each do |name, message| %>
  		<div class="<%= name %>"><%= message %></div>
  	<% end %>
  <!--End of flash-->	
    <%= yield %>

    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>

  <%= javascript_include_tag "jquery.horizonScroll.js" %>
  <%= javascript_include_tag "jquery.hover3d.js" %>
  <%= javascript_include_tag "scripts.js" %>
    <!--
    ================================================== -->

    
    
    <!--navbar
================================================== -->
<div ><a href="">Sign In</a></div> <br>
<div ><a href="">Sign Up</a></div> 

  </body>
</html>
